.container {
    position: fixed;
    top: 0;
    right: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;

    .panel {
        position: fixed;
        top: 0;
        right: -493px;

        display: flex;
        flex-direction: column;    
        width: 493px;
        box-sizing: border-box;
        padding: 48px;        
        background: #131B24;
        border: 1px solid #1A2430;  
        min-height: 100vh;
        
        .header {
            height: 25px;
            display: flex;
            flex: 0 1 auto;         

            h2 {
                font-size: 21px;
                color: #ECEFF1;
                padding: 0;
                margin: 0;
                flex: 1 1;
            }

            .closeButtonContainer {
                flex: 0 1 auto;

                button {                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    border: 0;
                    cursor: pointer;

                    .icon {
                        width: 24px;
                        height: 24px;

                        path {
                            stroke: #677B92;
                            transition: all 0.3s;
                        }
                    }

                    &:hover .icon path {
                        stroke: #ECEFF1;
                    }
                }
            }
        }

        .content {
            flex: 1 1;
            padding: 32px 0;
        }

        .footer {
            flex: 0 1 auto
        }
    }
}

.isOpen {
    z-index: 100000;
    display: block;

    .panel {
        right: 0px;
    }
}