.container {
    h2 {
        padding: 0;
        margin: 0;

        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;

        margin-bottom: 12px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-bottom: 12px;

        li {
            min-height: 40px;
            padding: 0px 0px 0px 13px;
            display: flex;
            align-items: center;
            transition: all 0.5s;
            

            a {
                display: flex;
                cursor: pointer;

                .icon {
                    flex: 0 1 auto;
                    transition: all 0.8s;
    
                    path {
                        stroke: #677B92;
                    }
                }
                .text {
                    padding: 0 9px;
                    transition: all 0.3s;
                    color: #677B92;
                    font-size: 12px;
                }
    
                &:hover {
                    .icon path {
                        stroke: #6774F4;
                    }
                    .text {
                        color: #ECEFF1;
                    }
                }
            }
            
        }

        .selected {
            cursor: auto;
            background: #10171F;
            border-radius: 8px;         

            a {
                .icon path {
                    stroke: #6774F4;
                }
                .text {
                    color: #ECEFF1;
                }
            }
        }
    }
}