.container {
    .label {
        padding-bottom: 12px;
        font-size: 14px;
        color: #677B92;
    }

    .selectContainer {
        position: relative;

        .select {
            display: flex;
            gap: 8px;
            padding: 12px;
            border-radius: 6px;
            background: rgba(198, 206, 214, 0.05);
            align-items: center;    
            cursor: pointer;
            
            &:focus-within:has(.text:focus) {
                outline: 1px solid #ECEFF1;
            }

            .text {
                flex: 1 1;     
                width: 0;
                max-width: 100%;           
                overflow: hidden;
                text-overflow: ellipsis;    
                
                color: #ECEFF1;
                line-height: 22px;
                background: transparent;
                border: 0;
                text-align: left;

                &:focus {
                    outline: 0;
                }
            }
            .iconContainer {
                flex: 0 1 auto;

                .icon {
                    height: 16px;
                    width: 16px;

                    path {
                        stroke: #677B92;
                    }
                }
            }
        }

        .select[data-isOpen=false] + .options {
            display: none;
        } 

        .options {
            border: 1px solid rgba(39, 54, 71, 0.3);
            position: absolute;
            top: calc(100% - 0px);
            width: calc(100% - 2px);

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    border-bottom: 1px solid rgba(39, 54, 71, 0.3);
                    background: #1A2430;
                    
                    transition: all 0.3s;
                    padding: 6px 18px;

                    cursor: pointer;

                    input {
                        display: block;
                        width: 0;
                        opacity: 0;
                        overflow: hidden;
                    }


                    &:last-child {
                        border-bottom: 0;
                    }

                    &:is(:hover, :focus-within) {
                        color: #5D55F0;
                        background: rgba(93, 85, 240, 0.1);
                    }
                }
            }
        }
    }
}