.container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .label {
        font-size: 14px;
        color: #677B92;
    }
    input {        
        border-radius: 6px;
        background: rgba(198, 206, 214, 0.05);
        color: #ECEFF1;
        border: 0;
        padding: 12px;
        height: 22px;

        margin-bottom: 10px;
    }
}