.container {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        border: 0;
        padding: 0;
        width: 14px;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        cursor: pointer;        

        .icon path {
            stroke: rgba(39, 54, 71, 1);
            transition: all 0.3s;
        }        

        &:hover .icon path {
            stroke: #ECEFF1;
        };
    }
    .menu {
        padding: 6px 0;
        border-radius: 8px;
        border: 1px solid rgba(39, 54, 71, 0.3);
        width: 135px;
        background: #1A2430;

        position: absolute;
        right: 0;
        top: 100%;

        z-index: 100;

        .edit,
        .remove {
            
            padding: 6px 18px;

            a {
                display: flex;
                align-items: center;      
                cursor: pointer;

                .text {
                    line-height: 126.25%;
                }

                .icon {
                    flex: 0 1 auto;
                    margin-right: 8px;
                }
            }            
        }

        hr {
            border: 0px;
            border-top: 1px solid rgba(39, 54, 71, 0.3);
            margin: 11px 0;
        }

        .edit a {
            .icon path {
                stroke: #ECEFF1;
            }
            .text {
                color: #ECEFF1;
            }
        }

        .remove a {
            .icon path {
                stroke: #D51E68;
            }
            .text {
                color: #D51E68;
            }
        }
    }    
}
