.container {
    min-height: 100vh;
    width: 185px;
    box-sizing: border-box;
    padding: 0 16px;
    border-right: 1px solid rgba(217, 217, 217, 0.05);
    
    background: #131B24;
    flex: 0 1 auto;
}

.backContainer {
    display: flex;
    margin: 0;
    height: 73px;
    align-items: center;
    flex-direction: row;

    .back {
        display: flex;

        button {
            flex: 0 1 auto;
            background: #1A2430;
            border: 0px;
            border-radius: 4px;            

            display: flex;
            width: 24px;
            height: 24px;
            padding: 4px 0px;
            justify-content: center;
            align-items: center;
            gap: 10px;          

            .icon {
                width: 16px;
                height: 16px;

                path {
                    transition: all 0.5s;
                }
            }

            &:hover {
                .icon path {
                    stroke: #ECEFF1;
                }
            }
        }

        .text {
            font-weight: 400;
            line-height: 16px;
            font-size: 14px;
            padding: 4px 4px 4px 12px;
            color: #ECEFF1;
        }
    }
}