.header {
    padding-bottom: 12px;
    margin-bottom: 16px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 24px;

    h1 {
        flex: 1 1 auto;
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 16px;
        color: #ECEFF1;
        font-weight: 400;        
    }

    .buttonsContainer {
        flex: 0 1 auto;

        button {
            padding: 9px 16px;
            border-radius: 6px;
            border: 0;
            color: #5D55F0;
            background: rgba(93, 85, 240, 0.1);
            transition: all 0.3s;
            cursor: pointer;
            line-height: 16px;

            .icon {                
                margin-right: 6px;

                path {
                    stroke: #5D55F0;
                    transition: all 0.3s;
                }    
            }
            
            

            &:hover {
                color: #ECEFF1;
                background: rgba(93, 85, 240, 0.4);

                .icon {
                    path {
                        stroke: #ECEFF1;
                    }
                }
            }
        }
    }
}

.panelButtons {
    display: flex;
    gap: 16px;
    
    button {
        flex: 1 1;
        border-radius: 8px;
        background: rgba(198, 206, 214, 0.05);
        color: #677B92;
        font-size: 16px;        
        line-height: 24px;
        padding: 12px 20px;
        border: 0;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            color: #ECEFF1;            
        }
    }

    .panelSaveButton {
        background: #5D55F0;
        color: #ECEFF1;
    }
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    td, th {
        border-left: 1px solid rgba(217, 217, 217, 0.05);
        transition: all 0.3s;
    }

    tbody td, 
    tbody th {
        border-top: 0;
        border-bottom: 0;        
    }

    tbody .groupName td, 
    tbody .groupName th {
        border-top: 1px solid rgba(217, 217, 217, 0.05);        
    }

    tbody tr:last-child td,
    tbody tr:last-child th {        
        border-bottom: 1px solid rgba(217, 217, 217, 0.05);
    }

    tbody tr:last-child th {
        border-bottom-left-radius: 12px;
    }
    tbody tr:last-child td:last-child {
        border-bottom-right-radius: 12px;
    }

    tbody td {
        border-right: 0;
    }

    tbody td:last-child {
        border-right: 1px solid rgba(217, 217, 217, 0.05);
    }

    thead td {
        padding: 8px 0 8px 12px;
        background: #131B24;
        border-top-left-radius: 12px;
        border-bottom: 0;
        border-top: 1px solid rgba(217, 217, 217, 0.05);
        font-size: 13px;
        font-weight: 500;
    }
    thead th:last-child {        
        border-top-right-radius: 12px;
        border-right: 1px solid rgba(217, 217, 217, 0.05);
    }
    thead th {
        padding: 8px 12px 8px 12px;
        width: 120px;
        background: #131B24;
        border-bottom: 0;
        border-top: 1px solid rgba(217, 217, 217, 0.05);

        .admin {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 13px;

            .icon {
                margin-left: 4px;
                path {
                    stroke: #677B92;
                }
            }
        }

        .normal {
            display: flex;

            .text {
                flex: 1 1;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap; 
                max-width: 100%;
                width: 0;
                overflow: hidden;        
                font-weight: 500;
                font-size: 13px;
            }
        }

    }
    
    
    

    tbody th {
        text-align: left;
        padding: 10px 16px;
    }

    tbody .groupName th {
        padding: 16px 16px 13px 16px;
        font-weight: 500;
        line-height: 22px;
        font-size: 14px;
        color: #677B92;
    }

    .toggleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    
    .premissionsContainer {
        .name {
            color: #ECEFF1;
            font-size: 14px;
            line-height: 22px; 
        }
        .description {
            color: #677B92;
            line-height: 20px;
            font-size: 13px;  
        }
    }

    .premissionRow:hover {
        th,
        td {
            background: rgba(19, 27, 36, 0.50);
        }
    }
}

