
.container {  
    display: inline-block;
    position: relative;

    &:hover .text {
        width: 140px;
        height: auto;
        padding: 12px 7px;
        border-width: 1px;
        overflow:visible;
        opacity: 1;

        left: var(--x);
        top: var(--y);

        z-index: 1;
    }

    .text {
        background: #1A2430;
        border: 0px solid #273647;
        position: relative;        
        box-sizing: border-box;
        padding: 0px;
        font-size: 12px;
        border-radius: 7px;
        line-height: 120%;
        box-sizing: border-box;

        opacity: 0;
        transition: opacity 0.3s;
    
        width: 0;
        height: 0;
        overflow: hidden;

        text-align: center;    

        position: absolute;        
    
        &::after {
            content: ' ';
            width: 8px;
            height: 8px;
            transform: rotate(45deg);
            border: 1px solid #273647;
            background: #1A2430;
    
            position: absolute;
            left: calc(50% - 8px);
            bottom: -6px;
    
            border-top: 0;
            border-left: 0;
        }
    }
}
