.container {
    position: relative;
    top: 0;
    left: 0;

    input {
        display: none;
    }

    .toggle {
        display: inline-block;
        background: rgba(198, 206, 214, 0.1);
        border-radius: 8px;
        padding: 2px 14px 2px 2px;
        height: 12px;
        transition: all 0.5s;
        cursor: pointer;

        .nob {
            background: rgba(236, 239, 241, 1);
            display: inline-block;    
            width: 12px;
            height: 12px;
            border-radius: 7px;
            box-shadow: 0px 1px 2px 0px rgba(38, 38, 38, 0.20);            
            position: relative;
            top: -2px;
        }
    }

    input[type="checkbox"]:checked + .toggle {
        background: rgba(93, 85, 240, 0.3);
        padding: 2px 2px 2px 14px;
        
        .nob {
            background: rgba(103, 116, 244, 1);
        }
    }

    input:focus + .toggle {
        border: 1px solid #ECEFF1;
    }

    input[type="checkbox"]:disabled + .toggle {
        background: rgba(103, 116, 244, 0.4);
        cursor: url(./assets/not-allowed.svg), auto;

        .nob {
            background: rgba(103, 116, 244, 0.4);
        }
    }
}