@font-face {
    font-family: PPNeueMontreal;
    src: url(./assets/PPNeueMontreal-Medium.otf);
}

body {
    background: #0D131B;    
    color: #677B92;
    margin: 0;
    padding: 0;
}
body,
input {
    font-family: PPNeueMontreal, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}